body {
  color: #333;
  text-align: center;
}

h1 {
  font-size: 30px;
}

a:link, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: none;
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.rnav a {
  display: inline-block;
}

.rnav a:first-child {
  margin-right: 25px;
}

.hasit {
  margin-top: 20%;
  font-size: 28px;
}

.answer, .auth {
  margin-top: 20%;
}

.answer span {
  font-weight: 700;
  font-size: 150px;
}
